.bubbleList li{
  color: #FFFFFF;
   /* AAAAAA */
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;
}

.bubbleList li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.bubbleList li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 12px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.bubbleList li:hover label{
	color: #F1AB00;
}

.bubbleList li .check{
  display: block;
  position: absolute;
  border: 5px solid #FFFFFF;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.bubbleList li:hover .check {
  border: 5px solid #F1AB00;
}

.bubbleList li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
	left: 2px;
  margin: auto;
	transition: background 0.25s linear;


}

input[type=radio]:checked ~ .check {
  border: 5px solid #F1AB00;
}

input[type=radio]:checked ~ .check::before{
  background: #F1AB00;

}

input[type=radio]:checked ~ label{
  color: #F1AB00;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
